{% extends 'base.html' %}

{%block title%}mytasks {% endblock title%}
{%block body%}

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <form method="post" action="/mytask">
        {% csrf_token %}
        <h5 class="card-title"> My Task</h5>
        <div class="form-row">
          <div class="form-group col-md-5">
            <input type="text" class="form-control" id="item" name="item" placeholder="New Task">
          </div>
          <div class="text-center p-2">
            <button type="submit" class="btn btn-outline-secondary my-2 my-sm-0">Add to Task List</button>
          </div>
        </div>
      </form>
    </div>
  </div>








  {% endblock body%}