{% extends 'base.html' %}

{%block title%}Task Assignment{% endblock title%}
{%block body%}
{% load crispy_forms_tags %}
<div class="container-md p-4 mb-5 ms-5">
    <form method="post" action="/mytask">
        {% csrf_token %}
        <h3>Enter details for new task</h3>
        <div class="form-row">
            {{ TaskForm|crispy }}
        </div>
        <div class="text-center p-2">
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<div clas="padding-bottom">
</div>


{% endblock body%}
{% comment %} {% extends 'base.html' %}

{%block title%}mytasks {% endblock title%}
{%block body%}

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <form method="POST" action="/mytask">
        {% csrf_token %}
        <h5 class="card-title"> My Task</h5>
        <div class="form-row">
          <div class="form-group col-md-5">
            <input type="text" class="form-control" id="item" name="item" placeholder="New Task">
          </div>
          <div class="text-center p-2">
            <button type="submit" class="btn btn-outline-secondary my-2 my-sm-0">Add to Task List</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% endblock body%} {% endcomment %}