{% extends 'base.html' %}

{%block title%}FAQ {% endblock title%}
{%block body%}

<h1>TASKS</h1>
<p></p>

</div>
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">TASK 1</h5>
        <p class="card-text">To be submitted before 1:00 pm</p>
        <a href="#" class="btn btn-primary"> Upload </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">TASK 2</h5>
        <p class="card-text">To be submitted before day end</p>
        <a href="#" class="btn btn-primary">Upload</a>
      </div>
    </div>
  </div>
</div>

{% endblock body%}